main {
  height: 90vh;
  overflow-y: auto;
}

/*! =-=-=-=-=-= Aside Section =-=-=-=-=-= !*/

.sidebar {
  background-color: #ced1c5;
  padding: 20px 0px 0px 10px;
  color: white;
  overflow-y: auto;
}
aside .nav-link,
aside .nav-link:hover,
aside .submenu,
aside .sub-link,
aside .sub-link.active {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
aside .nav-link {
  color: black;
  padding: 12px 16px;
  border-bottom: 1px solid #a7aa9db4;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

aside .nav-link:hover {
  background-color: #a7aa9db4;
  color: black;
}
.main-link.active {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #acb198b4;
  font-weight: bold;
}
aside .submenu {
  align-self: end;
  width: 95%;
}
aside .sub-link {
  display: inline-block;
  width: 100%;
  padding-left: 3rem;
  font-size: 0.95rem;
  color: black;
}

aside .sub-link.active {
  background: white;
  border-left: 7px solid #dc3545;
  color: #dc3545;
  font-weight: bold;
  padding-left: 40px;
}
.content-box {
  display: none;
}

.content-box.active {
  display: block;
}

/*! =-=-=-=-=-= Global Section =-=-=-=-=-= !*/
.global-sec .global-nav-sec {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.global-sec .global-tab-btn {
  background: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  position: relative;
  transition: all 0.2s ease;
}

.global-sec .global-tab-btn:hover {
  color: #dc3545;
}

.global-sec .global-tab-btn.active {
  color: #dc3545;
}

.global-sec .global-tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #dc3545;
  border-radius: 2px;
}

.global-sec .global-tab-content {
  display: none;
}

.global-sec .global-tab-content.active {
  display: block;
  width: 75%;
}

.global-sec .form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.global-sec .form-row label {
  width: 180px;
  font-size: 0.85rem;
  color: #444;
  margin-bottom: 0;
}
.global-sec .form-row input,
.global-sec .form-row select {
  flex: 1;
  font-size: 0.9rem;
  padding: 4px 8px;
}
.global-sec .form-row input[type="range"] {
  flex: 1;
  margin-right: 10px;
}
input[type="checkbox" i] {
  display: flex;
  align-items: flex-start;
  width: 20px;
  height: 20px;
}
.check-box-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.global-box-shadow {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 2rem 30px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.55);
}
.global-sec label{
  font-weight: bold;
}
/*! =-=-=-=-=-= Image Section =-=-=-=-=-= !*/
.image-sec .image-form-box {
  width: 70%;
}
.image-sec .label-select {
  width: 159px !important;
  font-size: 0.85rem;
  color: #444;
  margin-bottom: 0;
}
.image-sec .btn-group .btn {
  font-size: 0.85rem;
  padding: 5px 15px;
}

.image-sec .btn-group .btn.active {
  background-color: #dc3545;
  color: white;
}

.image-sec .dropdown-box {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.image-sec .dropdown-toggle-box {
  background-color: #f7f7f7;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.image-sec .dropdown-toggle-box::after {
  content: "⌄";
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.image-sec .dropdown-box.open .dropdown-toggle-box::after {
  transform: rotate(180deg);
}

.image-sec .dropdown-content {
  display: none;
  padding: 10px 12px;
  background: #fff;
}

.image-sec .dropdown-box.open .dropdown-content {
  display: block;
}
.image-sec .image-preview-box {
  width: 33%;
  height: fit-content;
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.image-sec .image-preview-box .video-placeholder {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #155724;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*! =-=-=-=-=-= NetWork Section =-=-=-=-=-= !*/
.network-sec label{
  font-weight: bold;
}
.network-sec .network-nav-sec {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.network-sec .network-tab-btn {
  background: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  position: relative;
  transition: all 0.2s ease;
}

.network-sec .network-tab-btn:hover {
  color: #dc3545;
}

.network-sec .network-tab-btn.active {
  color: #dc3545;
}

.network-sec .network-tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: #dc3545;
  border-radius: 2px;
}
.network-sec input[type=text]{
  flex: unset !important;
  width: 30%;
}

.video-audio-sec{}