body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  background: #000;
}

.background-overlay {
  background: url("../imgs/63216442.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(30, 30, 30, 0.3)
  );
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 400px;
  width: 100%;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.company-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #7c044c;
}

.language-select select {
  font-size: 0.85rem;
  background-color: #f1f3f5;
  border-radius: 6px;
}

.btn-primary {
  background-color: #ff7f50;
  border-color: #ff7f50;
  transition: ease-in-out 0.2s;
}

.btn-primary:hover {
  background-color: #ff5e2e;
  border-color: #ff5e2e;
  scale: 1.03;
  transition: ease-in-out 0.2s;
}
.btn-primary:active {
  scale: 1;
  background-color: #ff7f50;
  border-color: #ff7f50;
}
.link {
  text-decoration-color: #ff7f50;
  color: #ff7f50;
}
.link:hover {
  text-decoration-color: #bd411b;
  color: #bd411b;
  font-weight: bold;
  transition: 0.09s ease-in-out;
}
.icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .login-box {
    padding: 2rem 1.5rem;
  }

  .company-name {
    font-size: 1.1rem;
  }
}
